<!DOCTYPE html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
      <!-- Bootstrap CSS -->
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
      />
      <link rel="stylesheet" href="/stylesheets/checkout.css">
      <script src="https://js.stripe.com/v3/"></script>
      <title>Yelp Camp</title>
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-light bg-light py-0 fixed-top">
        <div class="container-fluid px-sm-3">
          <a class="navbar-brand" href="/campgrounds">YelpCamp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav ml-auto">
              <li class="nav-link">
                <a class="" href="/checkout"><i class="fas fa-shopping-cart"></i></a>
              </li>
              <% if (!currentUser) { %>
                <li><a class="nav-link" href="/login">Login</a></li>
                <li><a class="nav-link" href="/register">Sign Up</a></li>
              <% } else { %>
                <li class=""><a class="nav-link loggedInName" href="#">Signed In as: <%= currentUser.username %></a></li>
                <li class=""><a class="pr-0 nav-link" href="/logout">Logout</a></li>
              <% } %>
            </ul>
          </div>
        </div>

      </nav>

      <% if (errorMessage && errorMessage[0]) { %>
        <div class="container px-3">
          <div class="alert text-center alert-danger">
            <h3><%= errorMessage %></h3>
          </div>
        </div>
        <% } else if (successMessage && successMessage[0]) {%>
        <div class="container px-3">
          <div class="alert text-center alert-success">
            <h3><%= successMessage %></h3>
          </div>
        </div>
        <% } %>


        <form id="payment-form">
            <h1 class="text-center">YelpCamp Registration Fee</h1>
            <input type="text" id="email" placeholder="Enter Email Address For Receipt" />
            <div id="card-element"><!--Stripe.js injects the Card Element--></div>
            <button id="submit">
                <div class="spinner hidden" id="spinner"></div>
                <% console.log(amount) %> 
                <span id="button-text">Pay $<%= Math.round(amount) / 100 %></span>
            </button>
            <p id="card-error" role="alert"></p>
            <p class="result-message hidden">
                Payment succeeded, see the result in your
                <a href="https://dashboard.stripe.com/test/payments?status%5B%5D=successful" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
            </p>
        </form>


        <p class="text-center mt-3"><i class="far fa-copyright"></i> Adam Major 2020</p>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/scripts/checkout.js"></script>
      </body>
    </html>