<%- include("./partials/header") %>
    <div class="container ">
        <% if (successMessage[0] || errorMessage[0]) {%>
        <div class="jumbotron text-center mb-3 mt-0">
        <% } else {%>
        <div class="jumbotron text-center mb-3">
        <% } %>
            <h1>Forgot Your Password?</h1>
        </div>
        <div class="" id="forgotPasswordForm">
            <form action="/forgotPassword" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" required autofocus type="email" name="email" id="forgotPasswordEmail" placeholder="Enter the Email for the Account">
                </div>
                <div class="form-group">
                    <button id="submitButton" type="submit" class="btn btn-md btn-primary w-100">Reset</button>
                </div>
            </form>
        </div>
    </div>
<%- include("./partials/footer") %>