<%- include("partials/header") %>
    
    <div class="container text-center">
        <% if (errorMessage[0] || successMessage[0]) { %>
                <div class="jumbotron mt-0 mb-0">
            <% } else {%>
                <div class="jumbotron mb-0">
        <% } %>
            <h1>Login to YelpCamp</h1>
        </div>
        <div class="container textboxes">
            <form action="/login" method="post">
                <label for="username">Username:</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Enter Your Username">
                <label for="password">Password:</label>
                <input class="form-control"  type="password" name="password" id="password" placeholder="Enter Your Password">
                <button class="mt-4 btn btn-md btn-outline-success form-control" type="submit">Login</button>
            </form>
        </div>
        <small>Need an Account? <a href="/register">Click Here</a></small>
    </div>

<%- include("partials/footer") %>
