<%- include("partials/header") %>

<div class="container text-center">
<% if (successMessage[0] || errorMessage[0]) { %>
    <div class="jumbotron mb-0 mt-0">
<% } else { %>
    <div class="jumbotron mb-0">
<% } %>
        <h1>Create a YelpCamp Account</h1>
    </div>
    <div class="container textboxes">
        <form action="/register" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" required type="text" name="username" id="username" placeholder="Enter a Username">
            </div>
            <div class="form-group">
                <label for="username">Email:</label>
                <input class="form-control mb-0" required type="email" name="email" id="email" placeholder="Enter an email">
                <div class="formCheckbox">
                    <small id="" class="form-text text-muted">We never share your email with anyone.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Zip Code:</label>
                <input required class="form-control" onfocusout="checkZipCodeLength()" type="number" name="zipCode" id="zipCode" placeholder="Enter your Zip Code">
            </div>
            <div class="form-group">
                <label for="username">Password:</label>
                <input class="form-control" required type="password" name="password" id="password" placeholder="Enter a Password">
                <div class="formCheckbox">
                    <input id="passwordCheckbox" class="form-check-input" type="checkbox" onclick="togglePasswordVisibility(`password`)">
                    <small for="passwordCheckbox" class="mt-0 form-check-label">Show Password</small>
                </div>
            </div>
            <div id="adminCodeCheckboxDiv" class="form-group">
                <div class="formCheckbox">
                    <input onclick="adminCodeShow(); focusAdminBox()" id="adminCodeCheckbox" class="form-check-input" type="checkbox" onclick="togglePasswordVisibility()">
                    <label onclick="focusAdminBox()" for="adminCodeCheckbox" class="my-0 form-check-label">I have an Admin Code</label>
                </div>
            </div>
            <div id="adminCodeDiv" class="form-group d-none">
                <label for="adminCode">Admin Code:</label>
                <input class="form-control" type="number" name="adminCode" id="adminCode" placeholder="Enter the Admin Code">

                <div class="formCheckbox mt-0">
                    <input onclick="adminCodeHide()" id="adminCodeHideCheckbox" class="form-check-input" type="checkbox" onclick="togglePasswordVisibility()">
                    <label for="adminCodeHideCheckbox" class="my-0 form-check-label">Lost Admin Code?</label>
                </div>
            </div>
            <div class="form-group formCheckbox">
                <input required type="checkbox" id="cb_privacyPolicy" class="form-check-input"></input>
                <label class="form-check-label" for="cb_privacyPolicy">I have read and agree to YelpCamp's <a target="_blank" href="/privacypolicy">Privacy Policy</a></label>
            </div>
            <button class="btn btn-md btn-outline-success" type="submit">Register</button>
        </form>
    </div>
</div>

<script>
    function focusAdminBox() {
        document.querySelector('#adminCode').focus();
    }
</script>
<%- include("partials/footer") %>
