*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --default-font-size: 16px;
  --default-margin-size: 16px;
  --landing-form-width: 85%;
  --bg-comments:  #e5e5e5;
  --bg-jumbtron: #e9ecef;
}

body {
  font-size: calc(var(--default-font-size));
}

form label{
  font-style: italic;
}

hr {
  background-color: var(--bg-comments);
}

.styleHRTop { 
  height: 10px;
	border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
} 

.styleHRComments {
  border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}

.form-control{
  vertical-align: text-top;
  max-width: 100%;
  margin: 0 auto var(--default-margin-size) auto;
}

.formContainer{
  width: 487px;
  margin: auto;
}
/* works but not well */
/* .card-img-top {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
} */

.buttonWidth{
  max-width:80px;
  width: 80px;
  margin: 0 calc(var(--default-margin-size)/2);
}

.card-text{
  height: 72px;
  text-align: center;
  vertical-align: middle !important;
  overflow: hidden;
}
.card-img-top{
  height: 200px;
  width: 100%;
  background-size: cover !important;
  background-position: bottom !important;
}

.bg-lessLight{
  background: rgba(0, 0, 0, 1);
}

.comment {
  background-color: var(--bg-comments);
  padding: 0 var(--default-margin-size);
  display: grid;
  max-width: 100%;
  grid-template: 
          "author date" auto     /*here var(..) specifies the length of this row */
          "comment comment" 1fr                       
          /auto 1fr;      /*the '/...' line represents the length of the corresponding column */
}

.edit{
  grid-area: author;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.author {
  grid-area: author;
  text-align: left;
  margin-right: var(--default-margin-size);
}

.commentText {
  grid-area: comment;
  text-align: justify;
}

.dateCreated {
  grid-area: date;
  text-align: right;
}

.hidden{
  opacity: 0;
  max-width: 0;
  max-height: 0;
  width: 0;
  height: 0;
}

.buttons {
  display: flex;
  justify-content: center;
}

.newCampgroundLabel {
  margin: 15px auto 0 auto;
}

.title{
  margin: calc(var(--default-margin-size)*3.58) auto var(--default-margin-size) auto;
}

.caption{
  display: flex;
  justify-content: space-between;
  margin-top: var(--default-margin-size);
  align-items: center;
}

.price{
  font-size: 1.1em;
  color: #555 ;
}

.transition {
  height: 50px;
  background: linear-gradient(to bottom, black, grey);
}

.card-body{
  border-radius: 0;
}

.formCheckbox{
  display: flex;
  justify-content: left;
  vertical-align: middle;
  align-items: center;
}

.author {
  display: flex;
  justify-content: space-between;
  margin-left: var(--default-margin-size) ;
}

.textboxes{
  width: 450px;
  background: var(--bg-jumbtron);
  padding: var(--default-margin-size);
}

.form-check-input{
  margin: 0 0 0 2px;
}

.form-check-label{
  margin-left: 25px;
  text-align: left;
}

.loggedInName{
  margin-right: var(--default-margin-size);
  color: rgba(0,0,0,.5);
}

.loggedInName:hover {
  text-decoration: none;
  color: rgba(0,0,0,.8);
}

.scaleDelete:hover{
  transform: scale(1.4);
}

.scaleEdit:hover{
  transform: scale(1.25);
}

#showMain{
  background: black;
  padding-top: 15px;
}

#password{
  margin-bottom: 0px;
}

#topContainer {
  margin-top: calc(var(--default-margin-size)*4);
}

#showImg{
  height: auto;
  width: 100%;
}
#deleteComment{
  display: inline;
  outline: none;
  border: none;
  color: #dc3545;
  background: var(--bg-comments);
  margin-left: calc(var(--default-margin-size)/2);
}

#commentButton{
  margin: var(--default-margin-size) var(--default-margin-size) var(--default-margin-size)  0;
}

#commentButtonDiv{
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-comments);
    align-items: center;
}

@media (max-width: 769px) {
  .card {
    margin: var(--default-margin-size) 0 0 0;
  }
}
@media (max-width: 530px) {
  h1 {
    font-size: 2rem;
  }
  .formContainer{
    width: 400px;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 1.39rem;
  }
  .formContainer{
    width: 100%;
  }
}
