*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --default-font-size: 16px;
  --default-margin-size: 15px;
}

body {
  font-size: calc(var(--default-font-size));
}

/* works but not well */
/* .card-img-top {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
} */

.card-img-top {
  height: 200px;
  width: 100% !important;
  background-size: cover !important;
  background-position: bottom !important;
}


#topContainer {
  margin-top: calc(var(--default-margin-size)*4);
}
