*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --default-font-size: 16px;
  --default-margin-size: 16px;
  --landing-form-width: 85%;
}

body {
  font-size: calc(var(--default-font-size));
}

form label{
  font-style: italic;
}

form button {
  width: 100%;
  margin: 0 0 var(--default-margin-size) 0;
}

.

.form-control{
  vertical-align: text-top;
  max-width: 100%;
  margin: 0 auto var(--default-margin-size) auto;
}

.formContainer{
  width: 487px;
  margin: auto;
}
/* works but not well */
/* .card-img-top {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
} */

.card-text{
  height: 72px;
  text-align: center;
  vertical-align: middle !important;
  overflow: hidden;
}
.card-img-top{
  height: 200px;
  width: 100% !important;
  background-size: cover !important;
  background-position: bottom !important;
}

.showImg{
  height: 350px;
  margin: auto;
  width: 80% !important;
  background-size: cover !important;
  background-position: bottom !important;
}
.newCampgroundLabel {
  margin: 15px auto 0 auto;
}

.title{
  margin: calc(var(--default-margin-size)*3.58) auto var(--default-margin-size) auto;
}

#topContainer {
  margin-top: calc(var(--default-margin-size)*4);
}

@media (max-width: 769px) {
}
@media (max-width: 530px) {
  h1 {
    font-size: 2rem;
  }
  .formContainer{
    width: 400px;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 1.39rem;
  }
  .formContainer{
    width: 100%;
  }
}
